body {
  margin: 0;
  padding: 0;
  /* background-color: aquamarine; */
  /* height: 100vh; */
  /* display: flex; */
  cursor: pointer;
}

.cursor {
  position: fixed;
  width: 5px;
  height: 5px;
  border: 5px solid #ff0000;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .0,8s;
}

.cursor1 {
  position: fixed;
  width: 5px;
  height: 5px;
  border: 5px solid #ff0000;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .1s;
}

.cursor2 {
  position: fixed;
  width: 5px;
  height: 5px;
  border: 5px solid #ff0000;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .1,5s;
}